@model List<Seller>

@{
    ViewData["Title"] = "Sellers";
    string search = Context.Request.Query["search"];
}

<div class="first-content">
    <div class="first-content-head">
        @ViewData["Title"]
    </div>
    <div class="first-content-body">
        <p>Here a list of sellers, you can search them by the name</p>
    </div>
</div>

<form asp-action="Index" method="get">
    <div class="search-container">
        <input type="text" name="search" value="@search" placeholder="Name of the seller" />
        <button type="submit">Search</button>
    </div>
</form>

<a asp-action="Create" class="mg-left-10px btn btn-md bg-color-green color-white"> Create a new </a>

<div class="table-wrapper">
    <div class="table">
        <div class="table-head">
            <div class="my-col-2">
                @Html.DisplayNameFor(ml => Model.FirstOrDefault().Name)
            </div>
            <div class="my-col-3">
                @Html.DisplayNameFor(ml => Model.FirstOrDefault().Email)
            </div>
            <div class="my-col-2">
                @Html.DisplayNameFor(ml => Model.FirstOrDefault().Department)
            </div>
            <div class="my-col-3">
                Actions
            </div>
        </div>
        <div class="table-wrapper">
            <div class="table-body">
                @foreach (Seller sl in Model)
                {
                    <div class="table-body-row">
                        <div class="my-col-2">
                            @Html.DisplayFor(ml => sl.Name)
                        </div>
                        <div class="my-col-3">
                            @Html.DisplayFor(ml => sl.Email)
                        </div>
                        <div class="my-col-2">
                            @Html.DisplayFor(ml => sl.Department.Name)
                        </div>
                        <div class="my-col-3 flex">
                            <a class="btn btn-sm bg-color-green mg-bottom-10px" asp-action="Edit" asp-route-id="@sl.Id">Edit</a>
                            <a class="btn btn-sm bg-color-blue mg-bottom-10px" asp-action="Details" asp-route-id="@sl.Id">Details</a>
                            <a class="btn btn-sm bg-color-red" asp-action="Delete" asp-route-id="@sl.Id">Delete</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="pagination"></div>
<script src="~/js/pagination.js"></script>
<script>pagination.paginate(@ViewBag.TotalItems, @ViewBag.ItemsPerPage, @ViewBag.MaxLinksPerPage,"@ViewBag.ParamName")</script>